<!DOCTYPE html>
<html>
  <head>
    <title>GiftGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <p> <%= current_user.email %> </p>
    <p> <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% else %>
    <p><%= link_to 'Sign in', new_user_session_path %></p>
    <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <% end %>
  	<% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
